
<div class="container">
<h1 class="" style="text-align: center;background-color:#0f97ec;">New Post</h1>
<%= render 'form', blog: @blog %>
<br>
  <div class="container"><%= link_to 'Back', blogs_path %>
</div>
</div>
